<ion-header [translucent]="false">
  <ion-toolbar>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

      <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/home"><img src="assets/car-logo.png" alt="" style="width: 100px; height: 100px;"></a>
        <a role="button" onclick="history.back()" ><img src="assets/back-b.png" alt="" style="width: 10%;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/registration">Fleet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/dash">Dashboard</a>
            </li>
          </ul>
          <div class="buttons">
            <ion-button color="warning" routerLink="/login">Login</ion-button>
            <ion-button color="warning" routerLink="/registation">Sign Up</ion-button>
          </div>
        </div>
      </div>
      </nav>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="carousel-inner" style="widows: unset;">
    <div class="carousel-item active">
      <img
        src="https://cdn.motor1.com/images/mgl/epyq6/s1/4x3/2020-toyota-corolla-hb-hybrid-passion-x-pack-neden-almali.webp"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block  ">
        <h1 style="align-content:flex-start; color: aliceblue; font-size:x-large;">Get in style with the stylish toyota corolla
          <p>explore the design features of this beauty</p> <button type="button"
            class="btn btn-success font-size-base" routerLink="/booking">Book Now</button>
        </h1>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-9" style="font-size: medium;color: yellow;">variability</div>
      <br>
      <br>
      <h1>Feel-good ambience for up to five people.</h1>
      <h1 style="font-size: medium;">
        4 seat – countless possibilities.</h1>
      <br>
      <hr>
      <div><img
          src="https://ymimg1.b8cdn.com/resized/car_model/6103/pictures/5374935/mobile_listing_main_Toyota_C_HR__3_.jpg"
          class="d-block w-100" alt="..."></div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-9" style="font-size: larger; color: yellow;">The Design
      </div>
      <br>
      <div class="col-9">
        <h1>Progressive luxury in sporty form.</h1>
      </div>
    </div>
  </div>
  <br>
      <hr>

      <div class="container">
        <div class="row">

          <div class="col-12">
            <h1 style="font-size: x-large;">Expressive design.</h1>

            <p style="font-size: x-large;">
              Toyota Corolla hybrid
Stylish, efficient and a joy to drive, Corolla is an icon for the modern age. Whatever your lifestyle and whichever body type you choose, you'll benefit from self-charging hybrid powertrains.This is the first time Toyota has offered a choice of two Hybrid engines - a 1.8 litre Hybrid and a 2.0 litre Hybrid Dynamic Force engine - for the same model. With all the advantages of the Toyota New Global Architecture (TNGA) platform, Corolla takes you on a spirited drive.

            </p>
          </div>
          <div class="col-9"><img
              src="https://t1-cms-4.images.toyota-europe.com/toyotaone/euen/toyota-corolla-hatchback-2019-gallery-10-full_tcm-11-1553830.jpg"
              class="d-block w-100" alt="..."></div>
        </div>
        <br>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-9" style="font-size: medium;color: yellow;">A CLOSER LOOK</div>
            <br>
            <br>
            <h1>Explore some of the styling details that make the Corolla Hatchback so striking.</h1>
            <br>
            <br>
            <div class="container">
              <div class="row">
                <div class="col order-last">
                  <img src="https://t1-cms-4.images.toyota-europe.com/toyotaone/euen/toyota-corolla-hatchback-2021-gallery-01-prev-168_tcm-11-2406929.jpg" alt="">
                </div>
                <div class="col">
                  <img src="https://t1-cms-1.images.toyota-europe.com/toyotaone/euen/toyota-corolla-hatchback-2021-gallery-26-prev-168_tcm-11-2406909.jpg" alt="">
                  <button type="button"
                  class="btn btn-success font-size-base" routerLink="/booking">Book Now</button>
                </div>
                <div class="col order-first">
                 <img src="https://t1-cms-2.images.toyota-europe.com/toyotaone/euen/toyota-corolla-hatchback-2021-gallery-08-prev-168_tcm-11-2406933.jpg" alt="">
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>






</ion-content>
