
  <ion-header [translucent]="true">
    <ion-toolbar>

      <nav class="navbar navbar-expand-lg navbar-light bg-dark">

        <div class="container-fluid">
          <a class="navbar-brand text-white" routerLink="/home"><img src="assets/car-logo.png" alt="" style="width: 150px; height: 150px;"></a>
          <a role="button" onclick="history.back()" ><img src="assets/back-b.png" alt="" style="width: 10%;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/models">Fleet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/dash">Dashboard</a>
              </li>
            </ul>
            <div class="buttons">
              <ion-button color="warning" routerLink="/booking">Bookings</ion-button>
              <ion-button color="warning" routerLink="/login">Login</ion-button>
              <ion-button color="warning" routerLink="/registration">Sign Up</ion-button>
            </div>
          </div>
        </div>
      </nav>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <div class="carousel-inner" style="widows: unset;">
    <div class="carousel-item active">
      <img
        src="https://www.southwestfarmer.co.uk/resources/images/12653057/"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block  ">
        <h1 style="align-content:flex-start; color: aliceblue; font-size:x-large;">Get in style with the stylish toyota hilux
          <p>explore the design features of this beauty</p> <button type="button"
            class="btn btn-success font-size-base" routerLink="/booking">Book Now</button>
        </h1>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-9" style="font-size: medium;color: yellow;">variability </div>
      <br>
      <br>
      <h1>Feel-good ambience for up to five people.</h1>
      <h1 style="font-size: medium;">
        4 seat – countless possibilities.</h1>
      <br>
      <hr>
      <div><img
          src="https://i.pinimg.com/originals/3c/d0/34/3cd03487ff3654afae2b9f5b34008b23.jpg"
          class="d-block w-100" alt="..."></div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-9" style="font-size: larger; color: yellow;">The Design  <button type="button"
        class="btn btn-success font-size-base" routerLink="/booking">Book Now</button>
      </div>
      <br>
      <div class="col-9">
        <h1>Progressive luxury in sporty form.</h1>
      </div>
    </div>
  </div>
  <br>
      <hr>

      <div class="container">
        <div class="row">

          <div class="col-12">
            <h1 style="font-size: x-large;">Expressive design.</h1>

            <p style="font-size: x-large;">
              More leisure? More business
Wherever your journey, Hilux will take you there. With a range of powerful, efficient engines and the ability to tow up to 3.5 tonnes, it has the capacity to move mountains. A new 2.8 litre diesel engine, producing 204 DIN hp and up to 500 Nm of torque. Capable of 0–62 mph in just 10.0 seconds, it’s the most powerful Hilux ever.

            </p>
          </div>
          <div class="col-9"><img
              src="https://t1-cms-3.images.toyota-europe.com/toyotaone/euen/toyota-hilux-2020-gallery-08-prev-168_tcm-11-2017465.jpg"
              class="d-block w-100" alt="..."></div>
        </div>
        <br>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-9" style="font-size: medium;color: yellow;">A CLOSER LOOK</div>
            <br>
            <br>
            <h1>Explore some of the styling details that make the Toyota hilux so striking.</h1>
            <br>
            <br>
            <div class="container">
              <div class="row">
                <div class="col order-last">
                  <img src="https://i.pinimg.com/originals/54/81/b3/5481b31b9d19a4a3b2c1ee73df8381ba.png" alt="">
                </div>
                <div class="col">
                  <img src="https://t1-cms-3.images.toyota-europe.com/toyotaone/euen/toyota-hilux-2020-gallery-11-prev-124_tcm-11-2017597.jpg" alt="">

                </div>
                <div class="col order-first">
                 <img src="https://t1-cms-1.images.toyota-europe.com/toyotaone/euen/toyota-hilux-2020-gallery-06-prev-168_tcm-11-2017458.jpg" alt="">
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>






</ion-content>
