
  <ion-header [translucent]="true">
    <ion-toolbar>

      <nav class="navbar navbar-expand-lg navbar-light bg-dark">

        <div class="container-fluid">
          <a class="navbar-brand text-white" routerLink="/home"><img src="assets/car-logo.png" alt="" style="width: 150px; height: 150px;"></a>
          <a role="button" onclick="history.back()" ><img src="assets/back-b.png" alt="" style="width: 10%;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/models">Fleet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/dash">Dashboard</a>
              </li>
            </ul>
            <div class="buttons">
              <ion-button color="warning" routerLink="/booking">Bookings</ion-button>
              <ion-button color="warning" routerLink="/login">Login</ion-button>
              <ion-button color="warning" routerLink="/registration">Sign Up</ion-button>
            </div>
          </div>
        </div>
      </nav>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="carousel-inner" style="widows: unset;">
    <div class="carousel-item active">
      <img
        src="https://www.mercedes-benz.co.uk/passengercars/mercedes-benz-cars/models/eqv/design/design-exterior/_jcr_content/par/productinfotextimage/media2/slides/videoimageslide_1310909330/image.MQ6.7.2x.20200709174559.jpeg"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block pb-2 ">
        <h1 style="align-content:flex-start; color: aliceblue; font-size: x-large;">Design and Model Lines.
          <p>explore the design features and model lines of the new EQV</p> <button type="button"
            class="btn btn-success font-size-base" routerLink="/booking">Book Now</button>
        </h1>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-9" style="font-size: medium;">variability</div>
      <br>
      <br>
      <h1>Feel-good ambience for up to seven people.</h1>
      <h1 style="font-size: medium;">
        2 seat rows – countless possibilities.</h1>
      <br>
      <hr>
      <div><img
          src="https://www.mercedes-benz.co.uk/passengercars/mercedes-benz-cars/models/eqv/design/variability/_jcr_content/par/videoimageslider/slides/videoimageslide_318039723/image.MQ6.12.2x.20200709174557.jpeg"
          class="d-block w-100" alt="..."></div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-9" style="font-size: larger; color: yellow;">The Design
      </div>
      <br>
      <div class="col-9">
        <h1>An exciting presence.
          Classy design with EQ-specific elements.</h1>
      </div>
      <br>
      <hr>
      <br>
      <div class="container">
        <div class="row">

          <div class="col-12">
            <h1 style="font-size: xx-large;">Expressive exterior design.</h1> <br>
            <br>
            <p style="font-size: x-large;">
              Design elements created especially for the EQ family – for example the black panel radiator grille – lend
              it an electrifying and progressive character. The EQV exterior design package comes as standard in the
              Sport Premium and Sport Premium Plus model lines.</p>
          </div>
          <div class="col-6"><img
              src="https://www.mercedes-benz.co.uk/passengercars/mercedes-benz-cars/models/eqv/design/design-exterior/_jcr_content/par/productinfotextimage/media2/slides/videoimageslide/image.MQ6.7.2x.20200709174559.jpeg"
              class="d-block w-100" alt="..."></div>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1 style="font-size: xx-large;color: yellow;">Model lines</h1>
      </div>
      <br>
      <div class="card-group">

        <div class="card" style="background-color: transparent;">
          <h5 class="card-title" style="color: rgb(255, 242, 242); font-size:x-large;">sport</h5>
          <img
            src="https://www.mercedes-benz.co.uk/passengercars/mercedes-benz-cars/models/eqv/design/model-lines/_jcr_content/swipeableteaserbox/par/swipeableteaser/asset.MQ6.12.2x.20200724170020.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">

            <p class="card-text">Sports highlight:<br>
              17’’ alloy wheels -5 - twin spoke design <br>
              7 seats package <br>
              10.25’’ touch screen media display <br>
              Heated front seats <br>
              MBUX with DAB radio <br>
              LED intelligent Light system with Highbeam Assist Plus <br>
              Mirror package - electric folding mirrors <br>
              Parking package with reversing camera</p>
            <p class="card-text"><small class="text-muted">coming soon</small></p>
          </div>
        </div>
        <div class="card" style="background-color: transparent;">
          <h5 class="card-title" style="color: rgb(255, 254, 254); font-size: x-large;">sport premium</h5>
          <img
            src="https://www.mercedes-benz.co.uk/passengercars/mercedes-benz-cars/models/eqv/design/model-lines/_jcr_content/swipeableteaserbox/par/swipeableteaser_1633330717/asset.MQ6.12.2x.20200724170030.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">

            <p class="card-text">Sports premium highlight:<br>
              17’’ alloy wheels -5 - twin spoke design <br>
              EQ Exterior Design package (various design elements in high-gloss black) <br>
              Privacy glass <br>
              Parking package with 360 camera <br>
              Smartphone Integration <br>
              Table package(folding table for passengers) <br>
              Memory seat package with electricity adjustable seats </p>
            <p class="card-text"><small class="text-muted">coming soon</small></p>
          </div>
        </div>
        <div class="card" style="background-color: transparent;">
          <h5 class="card-title" style="color: rgb(255, 255, 255); font-size: x-large;">sport premium plus</h5>
          <img
            src="https://www.mercedes-benz.co.uk/passengercars/mercedes-benz-cars/models/eqv/design/model-lines/_jcr_content/swipeableteaserbox/par/swipeableteaser_1475276388/asset.MQ6.12.2x.20200724170049.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">

            <p class="card-text">Sports premium plus highlight:<br>
              17’’ alloy wheels -5 - twin spoke design <br>
              7 seats package <br>
              10.25’’ touch screen media display <br>
              Heated front seats <br>
              MBUX with DAB radio <br>
              LED intelligent Light system with Highbeam Assist Plus <br>
              Mirror package - electric folding mirrors <br>
              Parking package with reversing camera</p>
            <p class="card-text"><small class="text-muted">coming soon</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>



</ion-content>
