ion-card{

    background-color: white;
    background-size: cover;
    height: 100%;
}



.card-body{
    text-align: center;
    width: 100%;
    color: black;



}
.card-b{

height: 400px;

text-align: center;
box-shadow: 0 0 8px rgba(0,0,0, 0.5);
border-radius: 5px;
width: 400px;



}
.p{
    size: 100px;
}
