
  <ion-card>

    <div class="container mt-3">

      <div class="card">
        <div class="card-body" style="background: yellow;">DASHBOARD</div>
      </div>



     <div class="row">
      <div class="col-sm-6 mt-5">
        <div class="card-b">
          <div class="card-body">
            <h5 class="card-title">Update</h5>
           <p class= "p"><img src="https://img.icons8.com/ios-glyphs/30/000000/carpool--v2.png"/></p>

            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-5">
        <div class="card-b">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p><img src="https://img.icons8.com/ios-glyphs/50/000000/user--v1.png"/></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  </ion-card>

