<ion-header>
  <ion-toolbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

      <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/home"><img src="assets/car-logo.png" alt="" style="width: 20%; height: 20%;"></a>
        <a role="button" onclick="history.back()" ><img src="assets/back-b.png" alt="" style="width: 10%;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/registration">Fleet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/dash">Dashboard</a>
            </li>
          </ul>
          <div class="buttons">
            <ion-button color="warning" routerLink="/login">Login</ion-button>
          </div>
        </div>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>

<div class="heading text-center">
  <h1 style=" color: black;">Super Admin</h1>
</div>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="4">
        <ion-card>
          <div class="title">
          Cars Control
        </div>
          <div class="img2 text-center"><a routerLink="/dash"><img src="assets/icon/carsymbol1.svg" alt=""></a></div>
        </ion-card>
      </ion-col>

      <ion-col size-md="4">
        <ion-card>
          <div class="title">
            Deactivate User
          </div>
          <div class="img2 text-center"><a routerLink="/deac"><img src="assets/icon/user_delete.svg" alt=""></a></div>

        </ion-card>
      </ion-col>

      <ion-col size-md="4">
        <ion-card>
          <div class="title">
          Add Admin
        </div>
          <div class="img2 text-center"><a routerLink="/add-admin"><img src="assets/icon/user_add.svg" alt=""></a></div>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
