<nav class="align-items-center navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="assets/car-logo.png" alt="" style="width: 100px; height: 100px;"></a>
    <a role="button" onclick="history.back()" ><img src="assets/back-b.png" alt="" style="width: 10%;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link active mx-4 text-white h4" aria-current="page" routerLink="/home">Home</a>
        </li>

      </ul>
     </div>

  </div>

</nav>

  <ion-content>
      <!-- table -->

<!-- <table class="table">
  <thead class="bg-white">
    <tr class='text-dark'>
      <th>ID</th>
      <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
  </thead> -->

  <!-- <tbody *ngFor="let row of userData">
    <tr>
      <td>{{row.user_id}}</td>
      <td>{{row.first_name}}</td>
      <td>{{row.last_name}}</td>
      <td>{{row.email}}</td>
      <td>{{row.pwd}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteUser(row.user_id)">Delete</button>
      </td>
    </tr>
  </tbody> -->

<div class="users">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p3" *ngFor="let row of userData">
        <div class="card text-center" >
          <div class="header">

            <div class="img"><img src="assets/icon/user-icon.svg" alt=""></div>
            <div class="main-text">
              <h3><span>Full Names:</span> {{row.first_name}} {{row.last_name}}</h3>
              <h4><span>Email:</span> {{row.email}}</h4>

            </div>
            <div class="btn">
              <div type="button" class="btn btn-danger" (click)="deleteUser(row.user_id)">Delete</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </ion-content>






