<nav class="d-flex align-items-center navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="assets/car-logo.png" alt="" style="width: 100px; height: 100px;"></a>
    <a role="button" onclick="history.back()" ><img src="assets/back-b.png" alt="" style="width: 10%;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link active mx-4 text-white h4" aria-current="page" routerLink="/home">Home</a>
        </li>

      </ul>
     </div>

  </div>

</nav>

  <ion-content>
      <!-- table -->

<table class="table">
  <thead class="bg-white">
    <tr class='text-dark'>
      <th>ID</th>
      <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <!-- <td>
        <button class="btn btn-danger">Delete</button>
      </td> -->
    </tr>
  </tbody>

</table>

  </ion-content>






